.formCities {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(235, 204, 79);
    border-radius: 5px;
    background-color: beige;
    height: 100vh;
    color: rgb(178, 104, 13);
}
  .selectorForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .select {
    border: 0.5px solid rgb(235, 204, 79);
    border-radius: 5px;
    background-color: rgb(235, 204, 79);
    align-items: center;
    text-align: center;
    padding: 5px;
    color: rgb(178, 104, 13);
    font-weight: bold;
    cursor: pointer;
  }
  .card {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(235, 204, 79);
    border-radius: 5px;
    height: 100vh;
    text-align: center;
  
  }
  .cardImage {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(178, 104, 13);
    border-radius: 5px;
  }